body{
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: #ecf0f1;
}

.row{
    display: flex;
    align-items: center;
    margin: 15px;
    width: 200px;
}

.label-text{
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
#good:checked + .slider {background-color: #2ecc71;}
#cheap:checked + .slider {background-color: #34495e;}
#fast:checked + .slider {background-color: #e74c3c;}
input:checked + .slider:before {transform: translateX(26px);}